@mixin flexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HeaderBox {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 10px 2rem;
  @media (max-width: 500px) {
    padding: 10px 1.5rem;
  }
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  .HeaderContainer {
    max-width: 1340px;
    margin: 0 auto;
    @include flexCenter();
  }
  .HeaderLeftBox {
    @include flexCenter();
  }
}
.stickyNav {
  background: var(--body-color);
  padding: 0 2rem;
  @media (max-width: 800px) {
    padding: 15px 1rem;
  }
}
