.ContactBox {
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  @media (max-width: 450px) {
    padding: 1rem;
  }
  @media (max-width: 1000px) {
    padding: 1rem;
  }
  h2 {
    padding-left: 1rem;
  }
  .ContactGrid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 1000px) {
      flex-wrap: wrap;
      row-gap: 2rem;
    }
  }
}
