.ProjectBox {
  margin-bottom: 3rem;
  padding: 1rem 2rem;
  @media (max-width: 450px) {
    padding: 1rem;
  }
  .ProjectGrid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
