.ServicesBox {
  padding: 1rem 2rem;
  background: var(--body-color);
  @media (max-width: 450px) {
    padding: 1rem;
  }
  .ServicesGrid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 3rem;
  }
}
