.MainMenuNav {
  @media (max-width: 800px) {
    display: none;
  }
  .MainMenu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    li {
      margin: 0 15px;
      position: relative;
      a {
        color: var(--text-color);
        font-size: 16px;
        font-weight: 500;
        padding: 20px 0;
        display: inline-block;
        transition: color 0.3s;
      }
      &::after {
        content: "";
        background: var(--blue-color);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
      }
      &:hover {
        a {
          color: var(--blue-color);
        }
        &::after {
          animation: toRight 0.2s 0.1s alternate both;
        }
      }
    }
  }
}
.activeNav {
    a {
      color: var(--blue-color) !important;
    }
    &::after {
      animation: toRight 0.2s 0.1s alternate both;
    }
}

@keyframes toRight {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
